.overlay {
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  position: fixed;
}

.content {
  background-color: transparent;
  box-sizing: border-box;
  inset: 0.5rem;
  overflow-y: auto;
  position: fixed;
  width: auto;
}

.surface {
  background-color: rgb(83, 140, 83);
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem -1rem #222;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.title {
  color: var(--color-copy);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 0 1em;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .content {
    bottom: auto;
    left: 50%;
    max-height: calc(100vh - 1rem);
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 1rem);
  }
}
